# Ignore Terraform directories and files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
tfplan

# Ignore key-pair files
bastion-key.pem
appserver-key.pem

# Ignore test files
user-data-test.sh